<!DOCTYPE html>
<html>
    <head>
        <title>django intern project</title>
    </head>
    <body>
        <header>
            <h1><a href= "/">django project blog</a></h1>
        </header>
    
        <article>
            <time>published:20.09.2023, 6:30</time>
            <h2><a href= "">my third project</a></h2>
            <p>took us couple of months to create this 3rd project</p>
        </article>

        <article>
            <time>published: 14.08.2020, 12:14</time>
            <h2><a href= "there is a 2nd project</h2>
            <p>the 2nd project was abit harder<p>
        </article>


     </body>
</html>